/*************** common 共通クラス ***************/
$devise_pc_min_width: 1024px;
$devise_tb_max_width: 1023px;
$devise_tb_min_width: 768px;
$devise_sp_max_width: 767px;
$devise_ssp_max_width: 320px;

@media (max-width: $devise_tb_max_width) {
  .pc-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@media (min-width: $devise_pc_min_width) {
  .tb-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@media (max-width: $devise_sp_max_width) {
  .tb-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@media (max-width: $devise_sp_max_width) {
  .pc-tb-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@media (min-width: $devise_pc_min_width) {
  .tb-sp-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@media (min-width: $devise_tb_min_width) {
  .sp-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@media (max-width: 321px) {
  .ssp-visibility {
    display: none !important;
    visibility: hidden;
  }
}

@function vw($pixel) {
  @return (($pixel/375) * 100)+vw;
}

@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

body {
  color: #231815;
  font-size: 16px;
  font-family: "M PLUS 1p", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  letter-spacing: 0.1em;
  line-height: 28px;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  width: 100%;
}

a {
  color: inherit;
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 24px;
  text-align: center;
  text-decoration: inherit;
  transition: 0.5s;

  &:hover {
    opacity: 0.6;
  }
}

img {
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  letter-spacing: 0.15em;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  color: #8DC992;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;

  @media (max-width: $devise_tb_max_width) {
    font-size: 27px;
  }
}

h2 {
  background-color: #8dc992;
  border-bottom: solid 1px #8dc992;
  border-top: solid 1px #8dc992;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 32px;
  margin-bottom: 30px;
  margin-top: 50px;
  padding: 10px 0 10px 10px;
  position: relative;

  @media (max-width: $devise_tb_max_width) {
    font-size: 21px;
    line-height: 28px;
  }

  &::before {
    background-color: #8dc992;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: -6px;
  }

  &::after {
    background-color: #8dc992;
    bottom: -6px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
  }
}

h3 {
  box-sizing: border-box;
  color: #8dc992;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 60px;
  text-align: left;

  @media (max-width: $devise_sp_max_width) {
    font-size: 18px;
  }

  >span {
    border-left: 5px solid #8dc992;
    padding-left: 5px;
  }
}


h4 {
  font-size: 18px;

  @media (max-width: $devise_tb_max_width) {
    font-size: 16px;
  }
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
  margin-top: 15px;
  text-align: left;

  @media (max-width: $devise_sp_max_width) {
    font-size: 14px;
  }

  >span {
    background-color: #fff593;
    font-weight: bold;
  }
}

ul {
  margin-bottom: 0;
  margin-left: 2em;
  margin-top: 20px;
  padding: 0;

  >li {
    font-size: 16px;
    line-height: 28px;
    list-style: none;

    @media (max-width: $devise_sp_max_width) {
      font-size: 15px;
    }
  }
}

// パンくずリスト
.breadcrumbs-area {
  margin: 0 auto;
  max-width: 1000px;

  @media (max-width: $devise_tb_max_width) {
    box-sizing: border-box;
    max-width: 100%;
    padding: 0 20px;
  }

  @media (max-width: $devise_sp_max_width) {
    padding: 0 20px;
  }

  .breadcrumbs {
    box-sizing: border-box;
    font-size: 0;
    letter-spacing: 0;
    text-align: left;
    padding-bottom: 50px;
    padding-top: 30px;

    @media (max-width: $devise_sp_max_width) {
      padding-top: 20px;
    }

    li {
      display: inline-block;
      vertical-align: top;

      &::after {
        color: #8DC992;
        content: ">";
        display: inline-block;
        font-size: 13px;
        margin: 0 10px;

        @media (max-width: $devise_sp_max_width) {
          font-size: 12px;
        }
      }

      &:last-of-type {
        &::after {
          display: none;
        }
      }

      a,
      span {
        color: #8DC992;
        font-size: 13px;
        letter-spacing: 0.025em;

        @media (max-width: $devise_sp_max_width) {
          font-size: 12px;
        }
      }

      span {
        @media (max-width: $devise_sp_max_width) {
          box-sizing: border-box;
          padding-right: 9px;
          padding-top: 5px;
        }
      }
    }
  }
}

// トップページ 各セクション ボタン
.btn-area {
  background-color: #22AC38;
  border-radius: 30px;
  box-shadow: 5px 5px 5px 0 rgba(4, 0, 0, 0.75);
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 16px;
  letter-spacing: 0.15em;
  margin: 0 auto;
  margin-right: 0;
  margin-top: 30px;
  padding: 15px;
  width: 37%;

  @media (max-width: $devise_tb_max_width) {
    font-size: 14px;
    width: 45%;
  }

  @media (max-width: $devise_sp_max_width) {
    padding: 10px;
    width: 55%;
  }

  &.flow {
    margin-top: 210px;
    width: 27%;

    @media (max-width: $devise_tb_max_width) {
      margin: 0 auto;
      margin-bottom: 50px;
      margin-left: 0;
      width: 30%;
    }

    @media (max-width: $devise_sp_max_width) {
      width: 50%;
    }
  }

  &.school {
    margin-left: 0;
    width: 65%;

    @media (max-width: $devise_tb_max_width) {
      margin: 0 auto;
      margin-right: 0;
      margin-top: 30px;
      width: 45%;
    }

    @media (max-width: $devise_sp_max_width) {
      margin-top: 20px;
      width: 75%;
    }
  }

  &.content {
    background-color: #CD5628;
    margin: 0 auto;
    margin-top: 30px;
    width: 45%;

    @media (max-width: $devise_tb_max_width) {
      margin-top: 15px;
      width: 70%;
    }

    @media (max-width: $devise_sp_max_width) {
      width: 60%;
    }
  }
}